.row
    - each tweet in tweets
        .col-md-13.tweet-msg
            .col-md-8
                b
                    a(href='/feeds/' + tweet._user._id) #{tweet._user.name}
                <br>
                b.tweet #{tweet.content}
            .col-md-4
                b.msg-date #{tweet.prettyCreatedAt}