body {
  padding-top: 50px;
  padding-bottom: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-auth {
    margin-left: 5px;

}

.form-control {
    margin-left: 4px;
}

.content {
    margin-top: 50px;
}

.signup-form .input-group {
    padding-bottom: 8px; 
}

.lbl-error {
    color: red;
}

.btn-send-tweet {
    float: right;
    margin-top: 10px;
}

.tweet-box {
    margin-top: 8px;
    margin-bottom: 12px;
}

.tweet-msg {
    padding-top: 4px;
    padding-bottom: 4px;
}